* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
/***SFONFO COLORI ***/
.grigioChiaro {
  background-color: #EBEBEB;
}
.grigioScuro {
  background-color: rgba(175, 175, 175, 0.1);
}
.bianco {
  background-color: #fff;
}
.rosso {
  background-color: #DD5555;
}

/*********/
/***COLORI PER IL TESTO ***/
.testoRosso {
  color: #DD5555;
}
.testoGrigio {
  color: grey;
}
.testoBianco {
  color: #fff;
}
/*********/
/***BUTTON ***/
.btn {
  padding: 10px;
  font-size: 16px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  margin: 0 auto;
}
/*********/

/***CLASSI DI CONTROLLO ***/
.testoCentrato {
  text-align: center;
}
.testoGiustificato {
  text-align: justify;
}
.mt1 {
  margin-top: 10px;
}
.fleft{
  float: left;
}
.fright{
  float: right;
}
/*********/

.clear {
  clear: both;
}
.contenitore {
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 1000px;
  height: 800px;
  padding: 20px;
}
.contenuti {
  width: 100%;
  height: 100%;
}
#infoPersona {
  float: left;
  width: 35%;
  height: 75%;
  border-radius: 5px;
}
#contenutiFilm {
  float: right;
  width: 60%;
  height: 75%;
  border-radius: 2px;
  padding: 20px;

}
#footerAbout {
  width: 100%;
  height: 150px;
  margin-top: 3%;
  border-radius: 2px;
}
.schedaProfilo {
  padding: 20px;
  margin-bottom: 20px;
}
.schedaProfilo-foto-wrapper {
  margin: 0 auto;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  border: 3px solid #DD5555;
  overflow: hidden;
}
.schedaProfilo-foto-wrapper img {
  width: 100%;
}
.testoSchedaProfilo > h2,h3,p{
  padding-top: 20px;
}
.social{
  height: 30%;
}
.social > ul,li {
  list-style-type: none;
  display: inline-block;
}
.listaSocial{
  position: relative;
}
.listaSocial ul {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}
#contenutiFilm h3{
  font-weight: 300;
}
.boxImg{
  height: 130px;
  width: 30%;
}
.boxTesto{
  height: 130px;
  width: 70%;
  padding: 10px;
}
.cardFilm {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
