* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
/***SFONFO COLORI ***/
.grigioChiaro {
  background-color: #EBEBEB;
}
.grigioScuro {
  background-color: rgba(175, 175, 175, 0.1);
}
.bianco {
  background-color: #fff;
}
/*********/
.clear {
  clear: both;
}
.contenitore {
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 1000px;
  height: 800px;
  padding: 20px;
}
.contenuti {
  width: 100%;
  height: 100%;
}
#infoPersona {
  float: left;
  width: 35%;
  height: 75%;
}
#contenutiFilm {
  float: right;
  width: 60%;
  height: 75%;
}
#footerAbout {
  width: 100%;
  height: 150px;
  margin-top: 3%;
}
